<div class="container">
  <div class="row">
    <div class="login-form">
      <div class="well">
        <h2 class="page-header text-center">Login To Use This app</h2>
        <form class="form-horizontal" action="/login" method="POST">

          <% if  flash[:notice] %>
            <div class='control-group'>
              <div class='alert alert-error'>
                <%= "#{flash[:notice]}" %>
              </div>
            </div>
          <% end %>  
          <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="Email" name="email">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="Password" name="password">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">Sign in</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>