<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi! admin Recipe has been created by <%= @recipe_creator.name %> </h1>
    <p>
      Recipe Name:
        <!-- recipe name wil come here -->
      Ingredient list: 
        <!-- recipe ingredients will come here -->
      
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>