<section>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="search-container">
					<form class="search-form" method="post" action="/search">
							<div class="input-append">
							  <input class="search-box" placeholder="searc recipes" type="text" name="query">
						  		<select class="advanced-search"  name="flag" id="">
			   			   		<option value="free_text">Free Search</option>
			   			   		<option value="aggregate_ratings">agregate ratings</option>
			   			   		<option value="ingredients">ingredients</option>
			   			   		<option value="calories">calories</option>
			   			   		<option value="meal_class">meal class</option>
			       			</select>
							  <button type="submit" class="btn search-button"><i class="fa fa-search fa-2x"></i></button>
							</div>

				 <!--    <input type="text" class="input-medium search-query span8" name="query">
				   	<select name="flag" id="">
				   		<option value="free_text">Advanced search</option>
				   		<option value="aggregate_ratings">agregate ratings</option>
				   		<option value="ingredients">ingredients</option>
				   		<option value="calories">calories</option>
				   		<option value="meal_class">meal class</option>
				   	</select>
				    <button type="submit" class="btn">search</button> -->
					
					</form>
				</div>
			</div>
 

		</div>
	</div>


</section>
<section>
	 <%= render :template => 'recipes/recipe_list' %>
</section>
