<div class="container">
	<div class="row">
		<div class="span12">
			<div class="well">
				<h2 class="text-center">Editing  Recipe</h2>
				<div class="recipe-form-container">
					<%= render 'form_edit' %>
				</div>
			</div>
		</div>
	</div>
</div>