<div id="rate-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
   <form action="/recipes/rate" action="recipes/rate" method="post">
    	<select name="recipe[ratings]" id="">
	    	<option value="5">5 star</option>
	    	<option value="4">4 star</option>
	    	<option value="3">3 star</option>
	    	<option value="2">2 star</option>
	    	<option value="1">1 star</option>
    	</select>
    	<input type="hidden" id="modal-recipe-id"  name="id">
    	<button type="submit btn btn-primary btn-large">Rate Recipe</button>
    </form>
  </div>
</div>