
 /* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *
 * 
 	*= require_self
  *= require_tree 
  *= require font-awesome
  *= require dropzone/dropzone
  *= require bootstrap-wysihtml5
  *= require chosen
 */


.fixed-navbar{
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  z-index: 2000;

}

.signup-form, .login-form
{
  margin: 0 auto;
  display: block;
  width: 60%;
}


.search-container{
	margin: 0 auto;
	display: block;
}

.inline{
	display: inline-block;
}

.image-center img{
	margin: 0 auto;
	display: block;
}

.recipe-form-container{
	margin: 0 auto;
	display:block;
}

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}
 

.recipe-details{
	margin: 0 auto;
	display: block;
	/*padding-left: 20px;*/
}

.edit-recipe{
	padding-right: 10px;
}

 a.recipe-edit:hover{
  text-decoration: none;
 }

.recipe-container{
	height: 240px;
}


@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  font-family: 'Roboto', Helvetica;
  color: #737373;
  font-weight: 300;
}


/*histogram code start*/
/*@@TODO use sass for the variables down*/

.star-container {
  width: 400px;
  margin: 0 auto;
  /*margin-top: 3em;*/
  background-color: #EFEFEF;
  padding: 4px;
}

.star-inner {
  padding: 1em;
  background-color: white;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px; 
}

.rating {
  float: left;
  width: 45%;
  margin-right: 5%;
  text-align: center;
}

.rating-num {
  color: #333333;
  font-size: 72px;
  font-weight: 100;
  line-height: 1em; 
}

.rating-stars {
  font-size: 20px;
  color: #E3E3E3;
  margin-bottom: .5em;
}
.rating-stars .active {
  color: #737373;
}

.rating-users {
  font-size: 14px;
}

.histo {
  float: left;
  width: 50%;
  font-size: 13px;
}

.histo-star {
  float: left;
  padding: 3px;

}

.histo-rate {
  width: 100%;
  display: block;
  clear: both;
}

.bar-block {
  margin-left: 5px;
  color: black;
  display: block;
  float: left;
  width: 75%;
  position: relative;
}

.bar {
  padding: 4px;
  display: block;
}

#bar-five {
  width: 0;
  background-color: #9FC05A;
}

#bar-four {
  width: 0;
  background-color: #ADD633;
}

#bar-three {
  width: 0;
  background-color: #FFD834;
}

#bar-two {
  width: 0;
  background-color: #FFB234;
}

#bar-one {
  width: 0;
  background-color: #FF8B5A;
}
/*histogram code end*/

.spinner{
  display: none;
}
.star-rating{
  display: relative;
}
.star-rate-content{
  margin: 0 auto;
  display: block;
}

.star-rate-bock{
  font-size: 23px;
  padding-right: 24px;
  padding-top: 12px;
}
.fill-star, .star-rate:hover, .star-rate:hover ~ .star-rate{
    color: #ffd700
  }
.dropdown-search
{
  height: 120px;
  /* width: 154px; */
  padding-left: 27%;
  padding-right: 27%;
}

i.search-button{
  font-size: 10px;
}

.input-append input.search-box{
  width: 150% ;
  height: 35px
}

.input-append .advanced-search, .input-append .search-button{
  height: 45px
}
button.advanced-search-dropdown{
  height: 45px;
}

.dropdown-toggle.advanced-search-dropdown{
  width: 140px;
}

.search-form{
  padding-top: 3%;
}
select.advanced-search{
  text-align: center;
}
 
ul.dropdown-menu.advanced-search{
width:365px;
height: 156px;
}


.advanced-search{
  text-align: center; 
}

.list-meal-class{
  margin-left: 5%
}

a.list-recipe-name{
  color: #A7A7A7;
}
a.list-recipe-name:hover{ 
  color: #918E8E;
  text-decoration: none;
}

.full-page{
  background: url('recipe1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn.reject-recipe{
  margin-left: 5px
}

.navbar-spacer{
  margin-top:5%;
}

hr.custom-hr{
  margin-bottom: 3px;
}

.approve-reject-button-block{
  margin-top: 10px;
}

.profile-container{
  width: 85%;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #f5f5f5;
  padding: 3% 2%;
  border-radius: 10px;
} 


.image-div{
  /*text-align: center;*/
}

.recipe-detail-container{
  border: 1px solid #eee;
  padding: 2%;
  border-radius: 11px;
}
.recipe-create-form-container{
  
}

.dropzone{
  width: 75%;
  margin-left: 19%;
}


.spin-block{
  display: none;
}

.recipe-list-content{
  margin: 0px;
  padding: 0px;
}

.recipe-list-description{
  padding-top: 2%;  
}

a.histo-star-link:hover{
  text-decoration: none;
}

.recipe-date{
  padding-left: 5%;
}

/*user profile css start*/

.fb-profile img.fb-image-lg{
  z-index: 0;
  width: 100%;  
  margin-bottom: 10px;
}

.fb-image-profile
{
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 15%; 
}

@media (max-width:768px){
    
.fb-profile-text>h1{
  font-weight: 700;
  font-size:16px;
}

.fb-image-profile
{
  margin: -45px 10px 0px 25px;
  z-index: 9;
  width: 15%; 
}
}

/*user profile css end*/


/*sign up with google button*/

 
a.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
}

a.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  

.thumbnail > img{
  height: 200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}