<% if logged_in? && is_admin? %>	
	<hr>
	<div class="text-center">
		<a class="btn btn-large btn-success approve-recipe" data-rec-id='<%="#{@recipe.id}"%>'> Approve</a>
		<a class="btn btn-large btn-danger reject-recipe" data-rec-id='<%="#{@recipe.id}"%>'> Reject	</a>
	</div>
<% end %>