<div id="photo-upload-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Upload Imgaes</h3>
  </div>
  <div class="modal-body">
    <%= form_for(@photo, html: { multipart: true, class: "dropzone", :id => 'photo-upload'}) do |f|  %>
      <div class="fallback">
        <%= f.file_field :image %><br>
        <%= f.submit "Upload" %>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
     
    <!-- <button class="btn btn-primary trigger-process-queue">Upload Recipe changes</button> -->
  </div>
</div>
