<div class="container navbar-spacer">
	<div class="row">
		<div class="span12">
			<div class="page-header">
				<h3>Edit <%= @recipe.name %></h3>
			</div>
			<div class="recipe-form-container">
				<%= render '/common/common_form' %>
			</div>
		</div>
	</div>
</div>