<div class="container navbar-spacer">
	<div class="row">
		<div class="span12">
		 <table class="table table-hover">
		    <tr>
			  <% @users_list.each do |item| %>
		    	<td>
		    		<img src='<%= item.rater.avatar.url(:thumb) %>' class="media-object inline" style="width:35px;" />
		    	</td>
		    	<td>
		    		<%= link_to(item.rater.name, ("/users/"+item.rater.id.to_s),{:class => "inline"}) %>
		    	</td>
			  <% end %>
		    </tr>
		 </table>
			<!-- <ul class="nav nav-tabs nav-stacked text-center">
			  	<li>  
			  		 
			  	</li>
			</ul> -->
		</div>
	</div>
</div>