<section>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="search-container">
					<form class="search-form" method="post" action="/search">
							<div class="input-append">
							  <input class="search-box" placeholder="searc recipes" type="text" name="flag[free_text]" value="">
						  		<!-- <select class="advanced-search"  name="flag[]" id="">
			   			   		<option value="free_text">Free Search</option>
			   			   		<option value="aggregate_ratings">agregate ratings</option>
			   			   		<option value="ingredients">ingredients</option>
			   			   		<option value="calories">calories</option>
			   			   		<option value="meal_class">meal class</option>
			       			</select> -->
									<div class="btn-group">
		                <button class="btn dropdown-toggle advanced-search-dropdown" data-toggle="dropdown">Advanced Search<span class="caret"></span></button>
		                <ul class="dropdown-menu advanced-search">
		                  <li> <span>aggregate ratings :</span>
		                  	<input class="pull-right" type="text" name="flag[aggregate_ratings]" value="">
		                  </li>
		                  <li class="divider"></li>
		                  <li>ingredients :
		                  	<input class="pull-right" type="text" name="flag[ingredients]">
		                  </li>
		                  <li class="divider"></li>
		                  <li>calories :
		                  	<input class="pull-right" type="text" name="flag[calories]">
		                  </li>
		                  <li class="divider"></li>
		                  <li>meal class : 
		                  	<select name="flag[meal_class]" class="pull-right"> 
		                  		<option value=""></option>
		                  		<option value="jain">jain</option> 
		                  		<option value="veg">veg</option>
		                  		<option value="non-veg">non-veg</option>
		                  	</select>		 
		                  </li>
		                </ul>
		              </div>
<!-- 
							  <input class="search-box" placeholder="searc recipes" type="text" name="query">
 						  		<select class="advanced-search"  name="flag[]" id="">
 			   			   		<option value="free_text">meal class</option>
 			   			   		<option value="aggregate_ratings">agregate ratings</option>
 			   			   		<option value="ingredients">ingredients</option>
 			   			   		<option value="calories">calories</option>
 			   			   		<option value="meal_class">meal class</option>
 			       			</select> -->
							  <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
							</div>

				 <!--    <input type="text" class="input-medium search-query span8" name="query">
				   	<select name="flag" id="">
				   		<option value="free_text">Advanced search</option>
				   		<option value="aggregate_ratings">agregate ratings</option>
				   		<option value="ingredients">ingredients</option>
				   		<option value="calories">calories</option>
				   		<option value="meal_class">meal class</option>
				   	</select>
				    <button type="submit" class="btn">search</button> -->
					
					</form>
				</div>
			</div>
 

		</div>
	</div>


</section>
<section>
	 <%= render :template => '/common/recipe_list' %>
</section>
