<section>
	<div class="container navbar-spacer">
		<div class="row">
			<div class="span12">
				<div class="search-container">
					<form method="post" action="/search" class="form-inline">
							<input name="flag[recipe]" type="text" value="" class="input-small span3" placeholder="free-text">
							<input class="input-small" placeholder="ingredients" type="text" name="flag[ingredients]">
  						<input class="input-small" type="number" name="flag[aggregate_ratings]" placeholder="aggregate ratings" value="">
							<input class="input-small span2" placeholder="calories-from" type="number" name="flag[calories][]">
							<input class="input-small span2" placeholder="calories-to" type="number" name="flag[calories][]">
							<select name="flag[meal_class]"> 
								<option value="">meal class</option>
								<option value="jain">jain</option> 
								<option value="veg">veg</option>
								<option value="non-veg">non-veg</option>
							</select>		 
							<button type="submit" class="btn"><i class="fa fa-search"></i></button>
							<div id="slider-range"></div>
					</form>
				</div>
			</div>
 

		</div>
	</div>


</section>
<section>
	 <%= render :template => '/common/recipe_list' %>
</section>
